{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h1 class="mt-4">Modifier l'ingrédient</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        <button type="submit" class="btn btn-success mt-2">Valider</button>
    {{ form_end(form) }}
</div>